* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

body {
  width: 100%;
  background: #1B1A1C;

  @media (max-width: 1079px) {
    padding-top: 67.5px;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1079px) {
    padding: 0 12px;
  }
}

a {
  text-decoration: none;
}

.desktop {
  @media (max-width: 1079px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 1079px) {
    display: block;
  }
}