.about-us {
  padding-bottom: 120px;

  @media (max-width: 1079px) {
    padding-bottom: 48px;
    overflow: hidden;
  }

  &-content {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;

    h2 {
      @media (max-width: 1079px) {
        text-align: center;
      }
    }

    .slider {
      padding-top: 47px;

      @media (max-width: 1079px) {
        padding-top: 24px;
      }
      
      &--slide {
        background: #FFFFFF0A;
        border-radius: 20px;
        padding: 20px 24px;
        max-width: 344px;
        min-height: 272px;
        cursor: pointer;

        @media (max-width: 1079px) {
          min-width: 344px;
        }

        &:hover {
          .title {
            color: #02C076;
            transition: all .3s ease-in-out;
          }
        }

        .title {
          padding-top: 16px;
          color: #FFF;
          font-family: sans-serif;
          font-size: 19px;
          font-weight: 900;
          line-height: 28px;
        }

        .desc {
          padding-top: 12px;
          color: #FFF;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      .splide__slide{
        border: none;

        &.is-active {
          border: none;
        }
      }

      &-arrows {
        position: absolute;
        top: 16px;
        right: 0;
        display: flex;
        gap: 16px;

        @media (max-width: 1079px) {
          display: none;
        }

        &_arrow {
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #02C076;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            background: #01AD6A;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
}