.plates-block {

  .padding-fix {
    padding: 0 16px;

    @media (max-width: 1079px) {
      padding: 0 4px;
    }
  }

  &-items {
    display: flex;
    gap: 4px;

    @media (max-width: 1079px) {
      flex-direction: column;
    }

    .item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: #FFFFFF0A;
      padding: 20px 24px 24px;

      &:first-child {
        border-radius: 20px 0px 0px 20px;

        @media (max-width: 1079px) {
          border-radius: 20px 20px 0px 0px;
        }
      }

      &:last-child {
        border-radius: 0px 20px 20px 0px;

        @media (max-width: 1079px) {
          border-radius: 0px 0px 20px 20px;
        }
      }
      
      &-text {
        max-width: 221px;

        &_title {
          letter-spacing: 0.72px;
        }

        &_desc {
          color: #FFFFFF61;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          padding-top: 8px;
        }
      }
    }
  }
}